body {
    font-family: 'Nunito', sans-serif;
}

    /* BACKGROUND CRIADO PARA A PAGINA INICIO*/
.back {
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);    
    padding-bottom: 50px;
    height: 100%;
    width: 100%;  
}

    /*CENTRALIZANDO O TEXTO E DEIXANDO NA COR BRANCA */
.init {
    text-align: center; /* CENTRALIZANDO O TEXTO */
    color: white; /* DEIXANDO O TEXTO BRANCO */
    list-style-type: none; /* TIRANDO OS PONTOS DA LISTA */
}

    /* SEPARADORES DOS CARDS */
.sep {
    width: 350px; /* CRIADO UM CARD DE 350PX */
    margin-left: 3%; /* CRIADA UMA MARGEM DE 3% A ESQUERDA */
    align-items: center; /* CENTRALIZANDO OS ITENS */
    text-align: center; /* CENTRALIZANDO O TEXTO */
    margin-bottom: 8%; /* CRIADO UMA MARGEM DE 8% PARA BAIXO */
    background-color: #ffffff; /*  */
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}
    /* BACKGROUND CRIADO PARA A PAGINA SOBRE */
.bgground {
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);    
}

    /* PERSONALIZAÇÃO DO MAPA */
.map-container{
    overflow:hidden;
    padding-bottom:56%;
    position:relative;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

    /* BOTÃO ESTILIZADO PADRÃO PARA O SITE */
.btn {
    border-radius: 20px;
    text-decoration: none;
    margin: 15px;
    padding: 10px;
    font-size: 15px;
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);

}

.btn:hover {
    -webkit-box-shadow: 6px 6px 20px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 20px -9px rgba(0,0,0,0.75);
    box-shadow: 6px 6px 20px -9px rgba(0,0,0,0.75);
}

    /* BOTÃO ESTILIZADO PARA OS CARDS */
.btn2 {
    border-radius: 20px;
    color: white;
    padding: 10px;
    border: none;
    font-size: 15px;
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
}

.btn2:hover {
    -webkit-box-shadow: 6px 6px 20px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 20px -9px rgba(0,0,0,0.75);
    box-shadow: 6px 6px 20px -9px rgba(0,0,0,0.75);
}
